.test {
  font-size: 20px;
  width: 20em;
  height: 20em;
  background-color: red;
}

html {
  font-size: 10px;
}
.test1 {
  font-size: 50px;
  width: 2rem;
  height: 2rem;
  background-color: green;
}
